[Unit]
Description=helloworld Node app
After=network.target

[Service]
Environment=NODE_PORT=3000
Type=simple
User=ec2-user
ExecStart=/usr/bin/node /usr/local/helloworld/helloworld.js
Restart=on-failure

[Install]
WantedBy=multi-user.target